@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Outfit', sans-serif;
  width: 1280px;
  background-color: #FFFFFF;
}

html{
  display: flex;
  justify-content: center;
  background: #E9E9E9;
}